.services-section{
    min-height:100vh;
    background:#ffffff;
    padding:70px 8%;
    text-align:center;
}

.services-section h1{
    font-size:45px;
    color:#2563EB;
    margin-bottom:20px;
}

.service-text{
    max-width:700px;
    margin:0 auto 50px;
    color:#555;
    font-size:18px;
    line-height:1.8;
}

.services-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.service-card{
    background:#fff;
    border-radius:18px;
    padding:35px 25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    transition:0.4s;
    border-top:5px solid #2563EB;
}

.service-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(37,99,235,0.2);
}

.service-icon{
    font-size:50px;
    margin-bottom:20px;
}

.service-card h2{
    color:#111827;
    margin-bottom:15px;
    font-size:24px;
}

.service-card p{
    color:#555;
    line-height:1.7;
    font-size:16px;
}

@media(max-width:768px){

.services-section h1{
    font-size:36px;
}

.service-text{
    font-size:16px;
}

.services-container{
    grid-template-columns:1fr;
}

}